// Colors
$color-main: #1c1e25;
$color-main2: #15171c;
$color-orange: #cc9b55;
$color-white: #fff;
$color-black: #0b0b0e;
$color-grey: #7a7c83;
$color-text: #d0d0d4;

// Fonts

$ffr: "Rajdhani";
$ffb: "Barlow Condensed", sans-serif;
